.divFallasTipicas {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(16, 105, 183);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 100px;
}
.ulFallasTipicas {
  text-align: start;
  color: white;
}
.celularRoto {
  width: 30%;
}
@media (max-width: 767px) {
  .divFallasTipicas {
    padding: 15px;
  }
  .ulFallasTipicas {
    font-size: 12px;
  }
  .celularRoto {
    width: 40%;
  }
}
